<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.BoardMapper">

	<select id="boardList" parameterType="co.yedam.vo.BoardVO" resultType="co.yedam.vo.BoardVO">
		select *
		from (
		    select *
		    from(
		        select '1' gb, b.*
		                ,m.member_id
		          from board  b
		              join member  m
		              on b.member_no = m.member_no
		          where board_category = 1
		        )
				         
		    where rownum <![CDATA[  <  ]]> 4     
			           
		    union all
		    
		    select '2' gb, b.*,
		            m.member_id
		    from board  b
		        join member  m
		        on b.member_no = m.member_no
		    where board_category = 0
		        
		)
		order by gb, board_no desc

	</select>
	
	<select id="nbList" parameterType="BoardVO" resultType="BoardVO">
		select b.*
			   ,m.member_id
		from board b
			join member m
			on b.member_no = m.member_no
		where board_category = 1
	</select>
	
	<insert id="addBoard" parameterType="co.yedam.vo.BoardVO" >
		insert into board(board_no,
						  member_no,
						  board_title, 
						  board_content,
						  board_category,
						  board_img
						  )
		
		values(board_no.nextval,#{memberNo}, #{boardTitle}, #{boardContent}, 0 ,#{boardImg})
	</insert>

	<select id="getBoard" parameterType="int" resultType="BoardVO">
		select b.*,
       			m.member_id
		from board  b
    		join member  m
        	on b.member_no = m.member_no
		where board_no = #{bno}
	</select>
	
	
	<update id="updateBoard" parameterType="co.yedam.vo.BoardVO">
   update board
   set board_title = #{boardTitle}
   		,board_content = #{boardContent}
   		<if test="boardImg != null">
   		,board_img = #{boardImg}
   		</if>
   where board_no = #{boardNo}
   </update>
   
   <delete id="delBoard" parameterType="int">
   	delete from board
   	where board_no = #{bno}
   </delete>
</mapper>