<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.mapper.CartMapper">
	<select id="selectList" resultType="CartVO" parameterType="int">
  		select *
		from cart
		where member_no = #{memberNo}
  	</select>
	
	<insert id="insertCart" parameterType="CartVO">
  		insert into cart values (cart_seq.nextval, #{quantity}, #{proNo}, #{memberNo})
  	</insert>
  	
  	<delete id="deleteCart" parameterType="int">
  		delete from cart 
  		where cart_no = #{cartNo}
  	</delete>
  	
  	<update id="updateCart" parameterType="CartVO">
  		update cart 
  		set quantity = #{quantity} where cart_no = #{cartNo}
 	</update>
 	
 	<select id="checkCart" resultType="CartVO" parameterType="CartVO">
    	select *
    	from cart 
    	where member_no = #{memberNo} and product_no = #{proNo}
	</select>
	
</mapper>  