<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.mapper.CartMapper">
	  	<select id="cartList" resultType="CartProductVO">
  		select c.cart_no
  				,c.member_no
  				,c.quantity
  				,c.product_no
  				,p.product_name
  				,p.product_price
  				,p.product_img
  				,p.category
  				,p.discount_pct
  		from cart c inner join product p
  		on c.product_no = p.product_no
  		where c.member_no = #{memberNo}
  	</select>
  	
  	<delete id="cartListDel" parameterType="CartVO">
  		delete from cart 
  		where cart_no = #{cartNo}
  	</delete>
  	
  	<insert id="cartListAdd"  parameterType="int">
insert into cart (cart_no, quantity, product_no, member_no) values (cart_no.nextval, #{quantity}, #{productNo}, #{memberNo})
  	</insert>
  	
 	<select id="cartListCheck" resultType="CartVO" parameterType="CartVO">
    	select *
    	from cart 
    	where member_no = #{memberNo} and product_no = #{productNo}
	</select>
  	
  	<update id="updateCart" parameterType="CartVO">
  		update cart 
  		set quantity = #{quantity} where cart_no = #{cartNo}
 	</update>
 	


	
</mapper>  