<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.MemberMapper">
	<select id="memberList" parameterType="co.yedam.vo.MemberVO" resultType="co.yedam.vo.MemberVO">
		select *
		from member
	</select>
	
	<select id="memberId" resultType="co.yedam.vo.MemberVO">
		select *
		from member
		where member_id = #{memberId}
	</select>
	
	<select id="memberEmail" resultType="co.yedam.vo.MemberVO">
		select *
		from member
		where email = #{email}
	</select>
	
	<select id="memberPhone" resultType="co.yedam.vo.MemberVO">
		select *
		from member
		where phone = #{phone}
	</select>
	
	<select id="login" parameterType="co.yedam.vo.MemberVO" resultType="co.yedam.vo.MemberVO">
		select *
		from member
		where member_id = #{memberId} and member_pw = #{memberPw}
	</select>
	
	<select id="loginCheck" parameterType="co.yedam.vo.MemberVO" resultType="co.yedam.vo.MemberVO">
		select *
		from member
		where member_authority = #{memberAuthority}
	</select>
	
	<insert id="addMember" parameterType="co.yedam.vo.MemberVO">
		insert into member (member_no, member_id, member_name, member_pw, email, phone)
		values (member_no.nextval, #{memberId}, #{memberName}, #{memberPw}, #{email}, #{phone})
	</insert>
	
	<delete id="quitMember" parameterType="co.yedam.vo.MemberVO">
		delete from member
		where member_id = #{memberId} and member_pw = #{memberPw}
	</delete>
	
	<update id="quitDate" parameterType="string">
		update member
		set quit_date = sysdate
		where member_id = #{memberId}
	</update>
	
	<update id="resetPw" parameterType="string">
		update member
		set member_pw = email
		where member_id = #{memberId}
	</update>
	
	<delete id="delMember" parameterType="int">
		delete from member
		where member_no = #{memberNo}
	</delete>
	
	<select id="findIdCheck" parameterType="string" resultType="string">
		select member_id
		from member
		where email = #{email}
	</select>
	
	<select id="findPwCheck" parameterType="string" resultType="string">
		select email
		from member
		where member_id = #{memberId}
	</select>
	
	<insert id="addDog" parameterType="co.yedam.vo.MemberDogVO">
		insert into member_dog (dog_no, member_no, dog_breed, dog_birthday, dog_name, dog_leader)
		values (dog_no.nextval, #{memberNo}, #{dogBreed}, to_date(#{dogBirthday}, 'yyyy-MM-dd'), #{dogName}, #{dogLeader})
	</insert>
	
	<delete id="delDog" parameterType="int">
		delete from member_dog
		where dog_no = #{dogNo}
	</delete>
</mapper>