<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.MyPageMapper">
	
	<select id="memberList" resultType="MemberVO" parameterType="int">
		select *
		from member
		where member_no=#{memberNo}
	</select>
	
	<update id="memberUpdate" parameterType="MemberVO">
		update member
		set member_pw=#{memberPw}, member_name=#{memberName}, email=#{email}, phone=#{phone}
		where member_no=#{memberNo}
	</update>
	
	<select id="memberDogList" resultType="MemberDogVO" parameterType="int">
		select dog_no, dog_name, dog_breed, to_char(dog_birthday, 'yyyy-MM-dd') as "DOG_BIRTHDAY"
		from member_dog
		where member_no=#{memberNo}
	</select>
	
	<update id="memberDogUpdate" parameterType="MemberDogVO">
		update member_dog
		set dog_name=#{dogName}, dog_breed=#{dogBreed}, dog_birthday=to_date(#{dogBirthday}, 'yyyy-MM-dd')
		where dog_no=#{dogNo}
	</update>
	
	<select id="wishListAjax" parameterType="int" resultType="ProductVO">
		select p.product_no, p.product_name, p.product_price, p.product_img
		from product p, wishlist w
		where p.product_no in (select w.product_no from wishlist where member_no=#{member_no})
	</select>

</mapper>