<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.MyPageMapper">
	
	<select id="memberList" resultType="MemberVO" parameterType="int">
		select *
		from member
		where member_no=#{memberNo}
	</select>
	
	<update id="memberUpdate" parameterType="MemberVO">
		update member
		set member_pw=#{memberPw}, member_name=#{memberName}, email=#{email}, phone=#{phone}
		where member_no=#{memberNo}
	</update>
	
	<select id="memberDogList" resultType="MemberDogVO" parameterType="int">
		select dog_no, dog_name, dog_breed, to_char(dog_birthday, 'yyyy-MM-dd') as "DOG_BIRTHDAY"
		from member_dog
		where member_no=#{memberNo}
		order by dog_leader desc
	</select>
	
	<update id="memberDogUpdate" parameterType="MemberDogVO">
		update member_dog
		set dog_name=#{dogName}, dog_breed=#{dogBreed}, dog_birthday=to_date(#{dogBirthday}, 'yyyy-MM-dd')
		where dog_no=#{dogNo}
	</update>
	
	<select id="wishListAjax" parameterType="int" resultType="ProductVO">
		select product_no, product_name, product_price, product_img, category
		from product
		where product_no in (select product_no from wishlist where member_no=#{member_no})
	</select>
	
	<delete id="wishListDel" parameterType="WishListVO">
		delete from wishlist
		where product_no=#{productNo} and member_no=#{memberNo}
	</delete>
	
	<select id="checkCart" parameterType="WishListVO" resultType="int">
		select count(*)
		from cart
		where member_no = #{memberNo} and product_no = #{productNo}
	</select>
	
	<insert id="wishListAdd" parameterType="WishListVO">
		insert into cart
		values(cart_no.nextVal, #{memberNo}, #{productNo}, 1)
	</insert>
	
	<select id="myOrderList" parameterType="int" resultType="OrderVO">
		select order_no, member_no, to_char(order_date, 'yyyy-MM-dd') as "order_date", order_price, order_status
		from orders
		where member_no = #{memberNo}
	</select>
	
	<select id="getFirstProductName" parameterType="int" resultType="string">
		select product_name
		from order_detail
		where order_no = #{orderNo} and rownum = 1
	</select>
	
	<select id="orderInfo" parameterType="int" resultType="OrderVO">
		select order_no, target_name, order_addr, order_addr2, target_phone, order_req, order_price,
			order_point, order_status, to_char(order_date, 'yyyy-MM-dd') as "order_date"
		from orders
		where order_no = #{orderNo}
	</select>
	
	<select id="myOrderProduct" parameterType="int" resultType="OrderProductVO">
		select p.product_img, p.product_name, p.product_price, p.discount_pct, o.order_qty, p.category
		from product p, order_detail o
		where p.product_no = o.product_no and order_no = #{orderNo}
	</select>
	
	<select id="myBoardList" parameterType="Board" resultType="Board">
		select board_no, board_title, board_content, to_char(board_date, 'yyyy-MM-dd') as "board_date"
		from board
		where member_no = #{memberNo} and board_category = #{boardCategory}
	</select>

</mapper>