<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.OrderMapper">
	<select id="orderView" resultType="CartProductVO">
		select c.cart_no
		,c.member_no
		,c.quantity
		,c.product_no
		,p.product_name
		,p.product_price
		,p.discount_pct
		from cart c inner join product p
		on c.product_no = p.product_no
		where c.member_no = #{memberNo}
	</select>

	<select id="orderList" resultType="OrderVO">
		select *
		from orders
		where member_no = #{memberNo}
	</select>
	
	<insert id="cartInsert" >
	insert into c.cart_no
		,c.member_no
		,c.quantity
		,c.product_no
		,p.product_name
		,p.product_price
		,p.product_img
		,p.category
		,p.discount_pct
	from cart c inner join product p
	on
	c.product_no = p.product_no
	where c.member_no = #{memberNo}
	</insert>
	
	<insert id="orderDetail">
		insert into order_detail (
		order_detail_no,
		product_no,
		order_no,
		product_name,
		order_qty
		) values (
		order_detail_no.nextval,
		#{productNo},
		#{orderNo},
		#{productName},
		#{orderQty}
		)
	</insert>
	<insert id="orderInfo">
	    <selectKey resultType="int" keyProperty="orderNo" order="BEFORE">
        SELECT order_no.nextval FROM dual        
    </selectKey>   
		insert into orders (
		order_no,
		target_name,
		order_addr,
		order_addr2,
		target_phone,
		order_req,
		order_price,
		order_point,
		order_status,
		order_date,
		member_no
		) values (
		#{orderNo},
		#{targetName},
		#{orderAddr},
		#{orderAddr2},
		#{targetPhone},
		#{orderReq},
		#{orderPrice},
		0,
		'배송 준비 중',
		sysdate,
		#{memberNo}
		)
	</insert>
</mapper> 