<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.OrderMapper">
	<select id="orderView" resultType="CartProductVO">
		select c.cart_no
  				,c.member_no
  				,c.quantity
  				,c.product_no
  				,p.product_name
  				,p.product_price
  				,p.discount_pct
  		from cart c inner join product p
  		on c.product_no = p.product_no
  		where c.member_no = #{memberNo}
	</select>

	<select id="orderList" resultType="OrderVO">
		select * 
		from orders 
		where member_no = #{memberNo}
	</select>
	
<insert id="orderInfo">
    insert into orders (
        order_no,
        target_name,
        order_addr,
        order_addr2,
        target_phone,
        order_req,
        order_price,
        order_point,
        order_status,
        to_char(order_date, 'yyyy-MM-dd') as "order_date",
        member_no
    ) values (
        #{order_no.nextval},
        #{target_name},
        #{order_addr},
        #{order_addr2},
        #{target_phone},
        #{order_req},
        #{order_price},
        #{order_point},
        #{order_status},
        #{order_date},
    )
</insert>
</mapper> 