<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.ProductMapper">

	<sql id="searchCond">
		<where>
			<choose>
				<when test="searchCondition == 'P'.toString()"> <!--상품명, category별 -->
					product_name like '%' || #{keyword} || '%' and delete_chk = 0
				</when>
				<when test="searchCondition == 'PC'.toString()">
					(product_name like '%' || #{keyword} ||'%' or category like #{keyword} and delete_chk = 0)
				</when>
			</choose>
		</where>
	</sql>

	<sql id="sortCond">
		<choose>
			<when test="sortCondition == 'N'.toString()"> <!--정렬-->
				order by product_no desc) a
			</when>
			<when test="sortCondition =='S'.toString()">
				order by product_no desc) a
			</when>
			<when test="sortCondition == 'D'.toString()">
				order by discount_pct desc) a
			</when>
		</choose>
	</sql>


	<select id="plist" parameterType="co.yedam.vo.PageVO" resultType="co.yedam.vo.ProductVO">
		SELECT a.*
		FROM(SELECT ROWNUM rn
		, b.*
		FROM product b
		<include refid="searchCond" />
		<include refid="sortCond" />
		WHERE rn > (#{page} -1) *16
		<![CDATA[
		AND rn <= (#{page} *16)  
		]]>
	</select>

	<select id="selectCount" parameterType ="co.yedam.vo.ProductVO" resultType="int">
		select count(case when 
            category = ${category} and delete_chk = 0 
            then category end) as category
		from product
	</select>

    <select id="getProdCount" resultType="int">
		select count(1)
		from product
		where delete_chk = 0
	</select>
	
	<select id="productList" parameterType="co.yedam.vo.PageVO" resultType ="co.yedam.vo.ProductVO">
	select *
	from(
	select ROWNUM rn, a.*
	from(select  b.product_no , 
		         b.product_name, 
		         b.product_price,
		         b.desc_text,
		         b.desc_img, 
		         b.left_cnt,
		         b.category, 
		         b.product_img, 
		         b.company, 
		         b.launch_date,
		         b.discount_pct,
		         b.delete_chk
		from product b
		where delete_chk = 0
		order by ${order} desc) a <!-- 최신순 : 1, 할인 순: 11 -->
	)WHERE rn > (#{page} -1) *16
		<![CDATA[
		AND rn <= (#{page} *16)
		]]>
	</select>
	
	<select id="sortProductList" parameterType="co.yedam.vo.ProductVO" resultType ="co.yedam.vo.ProductVO">
		select  product_no , 
		         product_name, 
		         product_price,
		         desc_text,
		         desc_img, 
		         left_cnt,
		         category, 
		         product_img, 
		         company, 
		         launch_date,
		         discount_pct,
		         delete_chk
		from product
		where category =${category} and delete_chk = 0
		order by ${order} desc <!-- 최신순 : 1, 할인 순: 11 -->
	</select>

	<select id="getProduct" parameterType="int" resultType="co.yedam.vo.ProductVO">
		select *
		from product
		where product_no = #{pno}
	</select>
	
	<insert id="addProd" parameterType="co.yedam.vo.ProductVO">
		INSERT INTO product (product_no , 
		                     product_name, 
		                     product_price,
		                     desc_text,
		                     desc_img, 
		                     left_cnt,
		                     category, 
		                     product_img, 
		                     company, 
		                     discount_pct) 
					VALUES(product_no.nextval, 
					       #{productName},
					       #{productPrice}, 
					       #{descText}, 
					       #{descImg}, 
					       #{leftCnt}, 
					       #{category}, 
					       #{productImg}, 
					       #{company},  
					       #{discountPct})
	</insert>
	
	<update id="delProd" parameterType="co.yedam.vo.ProductVO">
	update product
	   set delete_chk = ${deleteChk}
	where product_no = ${productNo}
	</update>
	
	<insert id = "addToWishList" parameterType="WishListVO">
		insert into wishlist
		values(#{memberNo}, #{productNo})
	</insert>
	
	<delete id="delFromWishList" parameterType="WishListVO">
		delete from wishlist
		where product_no=#{productNo} 
		  and member_no=#{memberNo}
	</delete>
	
	<select id="wishList" parameterType="int" resultType ="WishListVO">
		select * 
		 from wishlist
		where member_no= #{memberNo}
	</select>

</mapper>