<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.ReplyMapper">
	<select id="replyList" parameterType="PageVO" resultType="ReplyVO">
	select  r.reply_no,
			r.board_no,
			r.reply_content,
			r.reply_date,
			r.member_no,
			r.reply_level,
			m.member_id
	from reply r
		join member m
		on r.member_no = m.member_no
	where board_no=#{boardNo} And reply_level=0
	order by reply_no desc
	</select>

	<insert id="addReply" parameterType="ReplyVO">
		insert into reply(reply_no, board_no, reply_content, member_no, reply_level)
				values(reply_no.nextval, #{boardNo}, #{replyContent}, #{memberNo}, 0)
	</insert>
</mapper>