<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.ReplyMapper">
	<select id="replyList" parameterType="PageVO" resultType="ReplyVO">
	select  reply_no,
			board_no,
			reply_content,
			reply_date,
			replyer,
			reply_lever;
			origin_reply_no;
	from reply
	</select>

</mapper>