<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="co.yedam.mapper.ReviewMapper">

<!-- join -->
	<resultMap type="MemberVO" id="MemberVO">
		<result column="member_id" property="memberId" />
		<result column="member_name" property="memberName" />
	</resultMap>
	
	<resultMap type="ReviewVO" id="ReviewVO">
		<result column="review_no" property="reviewNo" />
		<result column="product_no" property="productNo" />
		<result column="review_content" property="reviewContent" />
		<result column="review_date" property="reviewDate" />
		<result column="review_photo" property="reviewPhoto" />
		<result column="star_cnt" property="starCnt" />
		<association property="memberVO" resultMap="MemberVO"/>
	</resultMap>
	
	<select id="reviewList" parameterType="co.yedam.vo.ReviewVO" resultMap ="ReviewVO">
		select a.review_no
       		 , b.member_name
        	, a.product_no
        	, a.review_content
        	, a.review_date
        	, a.review_photo
        	, a.star_cnt
		from review a
			join member b
        	on a.member_no = b.member_no
		where product_no = ${productNo}
		order by ${order} desc <!--평점 높은 순: 7, 최신순:1 -->
	</select>

	
	<select id ="myReview" parameterType ="int" resultType ="co.yedam.vo.ReviewVO">
		select *
		from review
		where member_no = ${memberNo}
		order by 1 desc
	</select>
	
	
	<insert id="addReview" parameterType="co.yedam.vo.ReviewVO">
		INSERT INTO product (REVIEW_NO , 
		                     MEMBER_NO, 
		                     PRODUCT_NO,
		                     REVIEW_CONTENT,
		                     REVIEW_PHOTO,
		                     STAR_CNT) 
					VALUES(review_no.nextval, 
					       #{memberNo},
					       #{productNo}, 
					       #{reviewContent}, 
					       #{reviewPhoto}, 
					       #{starCnt});
	</insert>
	
	
	<delete id="delReview" parameterType="co.yedam.vo.ReviewVO">
	delete from review
	where review_no = ${reviewNo} and member_no = ${memberNo}
	</delete>
	
</mapper>